.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-container input {
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: #111;
  color: #0ff;
  border-radius: 6px;
  box-shadow: inset 0 0 5px #0ff;
}

button {
  background-color: #0ff;
  color: #000;
  font-weight: bold;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  box-shadow: 0 0 15px #0ff;
}

p {
  color: #0ff;
  margin-top: 10px;
}
p a {
  color: #ff00ff;
  text-decoration: underline;
}
